In [ ]:
!pip install yfinance
import pandas as pd 
import yfinance as yf # import libraries
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import warnings
warnings.filterwarnings('ignore')
# from IPython.display import FileLink
from google.colab import files
import tqdm.notebook as tq

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 15.6 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=84afc7c4df04e606739075bf02fa1c0026b7ebcd79203ba5d538f8fe440e0e84
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [ ]:
nse_Symbol=['ADANIPORTS.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'IOC.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.NS',
 'SBIN.NS',
 'SHREECEM.NS',
 'SUNPHARMA.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [ ]:
# nifty=pd.DataFrame()
# nifty['Stocks']=nse_Symbol
# nifty.to_csv('nifty.csv',index=False)
# files.download('nifty.csv')
# rm 'nifty.csv'

In [ ]:
url = "https://anaconda.org/conda-forge/libta-lib/0.4.0/download/linux-64/libta-lib-0.4.0-h516909a_0.tar.bz2"
!curl -L $url | tar xj -C /usr/lib/x86_64-linux-gnu/ lib --strip-components=1
url = "https://anaconda.org/conda-forge/ta-lib/0.4.19/download/linux-64/ta-lib-0.4.19-py37ha21ca33_2.tar.bz2"
!curl -L $url | tar xj -C /usr/local/lib/python3.7/dist-packages/ lib/python3.7/site-packages/talib --strip-components=3

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3721    0  3721    0     0   8142      0 --:--:-- --:--:-- --:--:--  8160
100  503k  100  503k    0     0   591k      0 --:--:-- --:--:-- --:--:--  591k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3757    0  3757    0     0  14791      0 --:--:-- --:--:-- --:--:-- 14791
100  406k  100  406k    0     0   616k      0 --:--:-- --:--:-- --:--:--  616k

In [ ]:
import talib

In [ ]:
# def checker(stock_name,start_date,end_date):
df1 = yf.download('RELIANCE.NS', 
                  start='2021-01-01', 
                  end='2021-09-30',
                  interval='1D')
df1.reset_index(inplace=True)
df1=df1.dropna().reset_index(drop=True)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df1['RSI'] = talib.RSI(df1['Close'], timeperiod=14) #RSI

In [ ]:
df1['Range']= ['above' if df1['RSI'][i] > 68 else 'below' if df1['RSI'][i] < 20.2 else 'avoid' for i in range(0,len(df1))]

In [ ]:
df2=df1[df1['Range'].str.contains('above|below')].reset_index(drop=True)

In [ ]:
df2

         Date         Open         High  ...    Volume        RSI  Range
0  2021-05-28  1990.000000  2105.000000  ...  26060864  68.120370  above
1  2021-05-31  2102.000000  2191.699951  ...  27285782  73.501544  above
2  2021-06-01  2166.000000  2202.000000  ...  12928379  74.119241  above
3  2021-06-02  2157.000000  2209.500000  ...  11366816  76.352359  above
4  2021-06-03  2221.000000  2250.000000  ...  11064116  76.909483  above
5  2021-06-04  2214.800049  2216.449951  ...   6677278  72.704153  above
6  2021-06-07  2202.000000  2242.000000  ...   7539326  75.485681  above
7  2021-06-08  2226.600098  2227.149902  ...   4464889  72.717536  above
8  2021-06-11  2182.899902  2228.000000  ...   6351520  68.566739  above
9  2021-06-14  2215.000000  2258.250000  ...   9383416  71.355617  above
10 2021-06-15  2261.000000  2274.899902  ...   7002898  71.788613  above
11 2021-08-30  2250.000000  2275.850098  ...   6473487  71.606461  above
12 2021-08-31  2276.899902  2283.750000  ...  12223037  68.562232  above
13 2021-09-01  2273.000000  2292.899902  ...   5143640  69.592004  above
14 2021-09-02  2255.000000  2307.800049  ...   4595048  72.545981  above
15 2021-09-03  2310.000000  2395.000000  ...  14151629  79.822231  above
16 2021-09-06  2413.000000  2480.000000  ...  15525644  81.863182  above
17 2021-09-07  2430.000000  2458.000000  ...   8006968  82.642890  above
18 2021-09-08  2452.000000  2454.000000  ...   6600210  80.321770  above
19 2021-09-09  2427.899902  2437.850098  ...   4136538  78.885138  above
20 2021-09-16  2381.550049  2436.750000  ...   6206657  71.972748  above
21 2021-09-22  2408.000000  2442.000000  ...   5074612  68.629142  above
22 2021-09-23  2447.399902  2497.000000  ...   7267883  73.793801  above
23 2021-09-24  2503.550049  2505.449951  ...   7011181  72.241309  above

[24 rows x 9 columns]